.App {
  min-height: 100vh;
  background-color: #0f172a;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}